@use '../base/_global.scss' as *;

.bannerSection{padding-top: 164px; width: 100%; height: 100vh;
    .wrapper{@include wrapper; display: flex; align-items: flex-start; justify-content: center; flex-flow: wrap; height: 100%; position: relative;
        .bannerContent{width: 75%; text-align: center;
            h1{@include font100; font-weight: 500; margin-bottom: 20px; line-height: 130%; color: #ffffff;
                span{background: linear-gradient(90deg, #FFF 88.77%, rgba(1, 211, 199, 0.98) 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
            }
            p{color: #AAA0AD; @include font24; line-height: 140%; margin-bottom: 42px;}
        }
        .casestudyCTA{position: absolute; bottom: 35px; right: 100px; width: fit-content; display: flex; justify-content: center;}
    }
}

.enterpriseSection{margin-top: 200px; width: 100%; margin-bottom: 200px;
    .wrapper{@include wrapper; display: flex; align-items: center; justify-content: center; flex-flow: wrap;
        .enterpriseContent{width: 50%;
            h2{width: 70%; @include font48; font-weight: 500; margin-bottom: 32px; line-height: 120%; text-transform: capitalize; background: linear-gradient(104deg, rgba(1, 211, 199, 0.98) -40.33%, rgba(255, 255, 255, 0.98) 60.22%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
            p{color: #C0C6C6; @include font20; line-height: 170%; margin-bottom: 60px;}
        }
        .enterpriseAnim{width: 50%;}
    }
}

.whatwedoSection{margin-bottom: 200px;
    .wrapper{@include wrapper;
        .secHeading{display: flex; align-items: center; justify-content: space-between; margin-bottom: 60px;
            .headingGroup{width: 45%;
                h2{@include font48; font-weight: 500; line-height: 120%; text-transform: capitalize; margin-bottom: 32px; background: linear-gradient(104deg, rgba(1, 211, 199, 0.98) -40.33%, rgba(255, 255, 255, 0.98) 60.22%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
                p{line-height: 170%; color: #C0C6C6; @include font20;}
            }
            .headerCTA{width: 30%; display: flex; justify-content: flex-end;}
        }
        .whatwedoContent{position: relative;
            .contentBox{display: flex; flex-flow: wrap; justify-content: space-between; align-items: center; padding: 56px 0px; position: relative; cursor: pointer; transition: background 0.8s ease;
                &::before{content: ''; position: absolute; top: 0; left: -100px; width: 100vw; height: 2px; background: #767676;}
                &::after{background: radial-gradient(111.37% 408.52% at 53.15% 415.54%, rgba(20, 255, 242, 0.97) 0%, rgba(33, 2, 20, 0.98) 100%); content: ''; position: absolute; top: 0; left: -100px; width: 100vw; height: 100%; transform: rotate(-180deg); opacity: 0; transition: opacity 1s ease; z-index: -1;}
                .headingBox{width: 25%; display: flex; align-items: center; gap: 40px;
                    h3{@include font100; font-weight: 500; color: #525454; line-height: 50%; letter-spacing: -1.328px;}
                    h4{width: 70%; @include font32; font-weight: 400; color: #ffffff; line-height: 140%; letter-spacing: 2px; text-transform: uppercase; transition: color 1s ease;}
                }
                p{width: 30%; color: #AEAEAE; @include font22; line-height: 150%;}
                .whatwedoImgbox{width: 300px;}
                &:hover{&::after{opacity: 1;}
                    h4{color: #FF3535;}
                }
            }
        }
    }
}

.counterSection{margin-bottom: 200px;
    .wrapper{
        .counterContent{border-top: 1px solid #6F6363; border-bottom: 1px solid #6F6363; display: grid; grid-template-columns: repeat(4, 1fr); justify-content: space-between; align-items: center;
            .counterBox{border-right: 1px solid #6F6363; display: flex; flex-flow: column;
                .counter{padding: 50px; height: 500px; position: relative; display: flex; align-items: flex-start; flex-flow: column;
                    h4{font-family: $manrope; @include font72; font-weight: 400; letter-spacing: -0.673px; margin-bottom: 16px; background: linear-gradient(120deg, rgba(1, 211, 199, 0.98) -8.27%, rgba(255, 255, 255, 0.98) 68.11%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; line-height: 1; display: inline-block; z-index: 1; position: relative;}
                    span{color: #FF3535; font-family: $manrope; @include font72; font-weight: 400; z-index: 1; position: relative;}
                    p{color: #D9D9D9; @include font16; line-height: 140%; z-index: 1; position: relative;}
                    &::before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: radial-gradient(109.66% 402.88% at 45.23% 409.94%, rgba(20, 255, 242, 0.97) 0%, rgba(33, 2, 20, 0.98) 100%); transform: rotate(-180deg); opacity: 0; transition: opacity 1s ease;}
                }
                .counterImg{display: flex; justify-content: flex-end; padding: 0px 15px 15px 0px; opacity: 0; transition: opacity 1s ease;}
                &:nth-child(odd){flex-flow: column-reverse;
                    .counter{justify-content: flex-end;
                        &::before{transform: rotate(0deg);}
                    }
                }
                &:first-child{
                    .counter{padding-left: 100px;}
                }
                &:last-child{border-right: none;
                    .counterImg{padding-right: 100px;}
                }
                &:hover{
                    .counter{
                        &::before{opacity: 1;}
                    }
                    .counterImg{opacity: 1;}
                }
            }
        }

    }
}

.compoundsSection{margin-bottom: 200px;
    .wrapper{@include wrapper;
        .compoundsContent{display: flex; flex-flow: wrap; justify-content: space-between; align-items: center;
            .headingBox{width: 40%;
                h4{font-family: $manrope; @include font18; font-weight: 500; color: rgba(255, 255, 255, 0.65); line-height: 160%; margin-bottom: 16px; letter-spacing: 1.8px; text-transform: capitalize; margin-bottom: 14px;}
                h2{font-family: $manrope; @include font48; font-weight: 500; color: #ffffff; line-height: 120%; margin-bottom: 48px; text-transform: capitalize; background: linear-gradient(355deg, rgba(1, 211, 199, 0.98) 14.5%, rgba(255, 255, 255, 0.98) 50.86%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
                p{color: #D9D9D9; @include font20; line-height: 150%; margin-bottom: 60px;}
            }
            .compoundsAnim{width: 50%;
                .line1, .line2, .line3, .line4{stroke-dasharray:2300; stroke-dashoffset:2300; animation: dash 10s linear forwards; animation-play-state: paused;}
                .circle1, .circle2, .circle3, .circle4{opacity: 0; animation: circleBlink 1.5s ease-in-out 2.5s infinite; animation-play-state: paused;}
                .text1, .text2, .text3, .text4{opacity: 0; animation: textFadeIn 0.8s ease 3.2s forwards; animation-play-state: paused;}
                @keyframes dash {
                    to {stroke-dashoffset: 0;}
                }
                @keyframes circleBlink {
                    0%, 100% { opacity: 0.30; }
                    50% { opacity: 1; }
                }
                @keyframes textFadeIn {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }
            }
        }
    }
    &.in-view .wrapper .compoundsContent .compoundsAnim svg{
        .line1, .line2, .line3, .line4, .circle1, .circle2, .circle3, .circle4, .text1, .text2, .text3, .text4{animation-play-state: running;}
    }
}

.whyItSection{margin-bottom: 200px; 
    .secWrapper{@include wrapper;
        .secHeading{text-align: center; margin-bottom: 60px;
            h2{@include font48; font-weight: 500; line-height: 120%; text-transform: capitalize; margin-bottom: 32px; background: linear-gradient(104deg, rgba(1, 211, 199, 0.98) -40.33%, rgba(255, 255, 255, 0.98) 60.22%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;} 
            p{color: #C0C6C6; @include font20; line-height: 170%; }
        }
        .cardContainer{display: grid; grid-template-columns: repeat(4, 1fr); gap: 32px; padding: 0 64px; position: relative;
            .card{border: 1px solid rgba(152, 152, 152, 0.39); position: relative; background: #210214; border-radius: 12px; overflow: hidden; min-height: 530px;
                .imgBox{border-radius: 12px 12px 0 0;overflow: hidden;
                    img{ width: 100%; height: 100%; object-fit: cover; display: block; transform: scale(1.3); transition: transform 0.6s ease-in-out;  }
                }
                .contentBox{border: 1px solid rgba(152, 152, 152, 0.39); padding: 32px;position: absolute; left: 0; right: 0; bottom: 0;border-radius: 0px 12px 12px 12px; width: 100%; z-index: 4; background: #210214; padding-top: 20px;
                    h4{ color: #7E7F82; @include font72; font-weight: 500; letter-spacing: -1.02px; opacity: 0.5; margin-bottom: 80px;}
                    .headingContent{
                        h5{ @include font20; letter-spacing: 2px; text-transform: uppercase; background: linear-gradient(180deg, rgba(1, 211, 199, 0.98) 0%, rgba(255, 255, 255, 0.98) 100%);background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;
                        }
                        .moreContent{display: grid; grid-template-rows: 0fr; opacity: 0;transition: grid-template-rows 0.5s cubic-bezier(.22,.7,.2,1), opacity .5s ease .05s;
                            p{ color: #757575; font-size: 18px; line-height: 144%; margin: 0; padding-top: 0; overflow: hidden; transition: padding-top 0.5s cubic-bezier(.22,.7,.2,1), opacity 0.5s ease-in-out;}
                        }
                    }
                    &::before{content: ""; opacity: 0; position: absolute; bottom: -50px; right: -50px; width: 100%; height: 100%;border-radius: 408.407px; background: linear-gradient(322deg, rgba(1, 211, 199, 0.41) 24.7%, rgba(33, 2, 20, 0.98) 60.64%);filter: blur(100px); transition: opacity 0.5s ease-in-out; z-index: -2;}
                    
                    &:after{content: "";position: absolute; top: -26px; left: -1px; width: calc(100% - 180px); height: 25px; background-color: #210214; border-top-right-radius: 50px; border-top-left-radius: 22px; border-top: 1px solid rgba(152, 152, 152, 0.39); border-right: 1px solid rgba(152, 152, 152, 0.39); border-left: 1px solid rgba(152, 152, 152, 0.39); z-index: 5;}
                }

                &:hover{
                    .imgBox{
                        img{transform: scale(1);}
                    }
                    .contentBox{
                        .moreContent{grid-template-rows: 1fr; opacity: 1;
                            p{ margin-top: 32px; }
                        }
                        &::before{opacity: 1;}
                    }
                }

            }
            &::before{content: ""; position: absolute; top: 55%; left: 46%; width: 200px; height: 399px; border-radius: 100%;background: #82FFFA;filter: blur(200px); transform: rotate(14.589deg) translate(-50%, -50%);}
        }
    }
}

.platformSection{margin-bottom: 200px; position: relative; overflow: hidden;
    .secWrapper{
        .mainGridContainer{ display: grid; grid-template-columns: 640px 320px 640px 320px; grid-template-rows:320px 320px 320px;
            .headingBox {grid-column: 1 / 3; grid-row: 1;}
            .box{border: 1px solid #6F6363;}

            /* R1 C3 + R2 C3 */
            .sliderBox {grid-column: 3; grid-row: 1 / 3;}
            
            /* R1 C4 */
            .box-r1-c4 {grid-column: 4; grid-row: 1;}

            /* R2 C1 */
            .box-r2-c1 {grid-column: 1;grid-row: 2;}

            /* R2 C2 */
            .box-r2-c2 {grid-column: 2;grid-row: 2;}

            /* R2 C4 */
            .box-r2-c4 {grid-column: 4; grid-row: 2;}

            /* R3 C1 */
            .box-r3-c1 {grid-column: 1;grid-row: 3;}

            /* R3 C2 + C3 */
            .bottom-content {grid-column: 2 / 4; grid-row: 3;}

            /* R3 C4 */
            .box-r3-c4 {grid-column: 4;grid-row: 3;}
        }
    }
}

.buildingSection{margin-bottom: 200px;
    .secWrapper{@include wrapper;
        .cardContainer{display: flex; align-items: center; 
            .slide{opacity: 5; 
                &.centerSlide{position: relative; z-index: 9;  
                    .media{transform: scale(1);}
                }
                .media{transform: scale(1);}
            }
        }
    }
}

.resultSection{margin-bottom: 200px; padding-top: 185px; position: relative;background: url(../images/result-sec-shadow.png) no-repeat 50% 40%;
    .secWrapper{
        .secHeading{display: flex; align-items: end; justify-content: space-between; margin-bottom: 60px; padding: 0 100px;
            .headingGroup{width: 50%;
                h2{@include font48; line-height: 120%; text-transform: capitalize; font-weight: 500; margin-bottom: 32px; background: linear-gradient(104deg, rgba(1, 211, 199, 0.98) -40.33%, rgba(255, 255, 255, 0.98) 60.22%); background-clip: text;-webkit-background-clip: text; -webkit-text-fill-color: transparent;}
                p{line-height: 170%; color: #CBC6C6; @include font20; }
            }
        }
        .resultsCardLayout{ padding-left: 100px; padding-right: 0px;
            .resultCardSlider{
                a{margin-right: 40px;
                    .box{background: #E4E1DD; border-radius: 12px; height: 400px !important; position: relative; overflow: hidden;  transition: 0.5s all ease-in;
                        h5{border-radius: 24px; position:absolute; top:32px; left:32px;  display:inline-block; padding: 10px 16px; @include font20; text-transform: uppercase; color: #1B98A0; background: #fff; font-weight: 400;}
                        .bottomContent{position:absolute; left:32px; right:32px; bottom:32px;
                            h4{@include font32; font-weight: 500; text-transform: capitalize; color: #19060F; margin: 0;}
                            .moreContent{display:grid; grid-template-rows:0fr; opacity:0; transition: grid-template-rows 0.8s cubic-bezier(.22,.7,.2,1), opacity .5s ease .05s;
                                p{color: #504747; @include font20; line-height: 150%; transition: padding-top 0.5s cubic-bezier(.22,.7,.2,1); overflow: hidden; margin: 0; padding-top: 0;}
                            }
                        }
                        &:hover{background: #CDB6C4;
                            .bottomContent{ transform: translateY(0);
                                .moreContent{grid-template-rows:1fr; opacity:1;
                                    p{padding-top: 24px;}
                                }
                            }
                        }
                    }
                }
            }
            .arrowBox{align-items: center;justify-content: flex-start;display: flex; margin-top: 50px; gap: 40px;
                .prevArrow, .nextArrow{background: #D9D9D9; border: 1px solid #000; border-radius: 50%; width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; cursor: pointer;
                    svg{width: 24px; height: 24px;}
                    &.slick-disabled{border-color: rgba(0,0,0,0.25);
                        svg{
                            path{opacity: 0.25;}
                        }
                    } 
                }
            }
        }
    }
}
